<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>
<body>

<h2>Contact Form</h2>

<form method="post">

    <label>Student Email:</label><br>
    <input name="email" required>
    <br><br>

    <label>Student Pass:</label><br>
    <input name="pass" required>
    <br><br>


    <label>Feedback:</label><br>
    <textarea id="message" name="message" rows="5" cols="30" required></textarea>
    <br><br>

    <input type="submit" value="Submit">
    <input type="reset" value="Reset">

</form>

</body>
</html>