<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cake Order Form</title>
    <link rel="stylesheet" th:href="@{/css/styleForm.css}">
</head>
<body>

<h1>Cake Order Form</h1>

<form method="post" th:action="@{/cake/add}" th:object="${cake}">

    <label>Order ID</label>
    <input type="text" th:field="*{id}">
    <br>
    <span th:errors="*{id}" style="color:red"></span>
    <br><br>

    <label>Customer Name</label>
    <input type="text" th:field="*{customerName}">
    <br>
    <span th:errors="*{customerName}" style="color:red"></span>
    <br><br>

    <label>Phone Number</label>
    <input type="text" th:field="*{phone}">
    <br>
    <span th:errors="*{phone}" style="color:red"></span>
    <br><br>

    <label>Cake Flavor</label>
    <input type="text" th:field="*{flavor}">
    <br>
    <span th:errors="*{flavor}" style="color:red"></span>
    <br><br>

    <label>Cake Weight (KG)</label>
    <input type="number" step="0.5" th:field="*{weight}">
    <br>
    <span th:errors="*{weight}" style="color:red"></span>
    <br><br>

    <button type="submit">Place Order</button>

    <br><br>

    <a href="/cake/list">Back to List</a>

</form>

</body>
</html>